/* 首页的css文件 */
.banner {
    height: 500px;
    background-color: #f5f5f5;
}
.banner .wrapper {
    position: relative;
    height: 500px;
}
.banner .aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 251px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .wrapper .aside li {
    height: 50px;
    line-height: 50px;
}
.banner .wrapper .aside a {
    position: relative;
    display: block;
    padding-left: 36px;
    padding-right: 19px;
    height: 50px;
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	color: #ffffff;
}
.banner .wrapper .aside a:hover {
    background-color: #27ba9b;

}
.banner .wrapper .aside li span {
    margin-left: 15px;
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
}
.banner .wrapper .aside a::after {
    position: absolute;
    right: 19px;
    top: 19px;
    content: '';
    width: 6px;
    height: 11px;
    /* background-color: pink; */
    background-image: url(../images/sprites.png);
    background-position: -80px -110px;
}

.banner .wrapper .prec,
.banner .wrapper .next {
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    background-image: url(../images/sprites.png);
}
.banner .wrapper .prec {
    left: 260px;
    background-position: 14px -60px;
}
.banner .wrapper .next {
    right: 10px;
    background-position: -22px -60px;

}
.banner .wrapper ol {
    position: absolute;
    left: 680px;
    bottom: 30px;
    height: 10px;
}
.banner .wrapper ol li {
    float: left;
    margin-right: 42px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(225, 225, 225, .4);
    cursor: pointer;
}
.banner .wrapper ol .current {
    background-color: #fff;
}
.goods .hd {
    height: 112px;
    line-height: 112px;
}
.goods .hd h2 {
    float: left;
    height: 112px;
    font-family: PingFangSC-Regular;
	font-size: 29px;
	font-weight: normal;
	color: #333333;
} 
.goods .hd span {
    margin-left: 34px;
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	color: #999999;
}
.goods .hd a,
.fresh .hd > a {
    float: right;
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	color: #999999;
}
.goods .hd a::after,
.fresh .hd > a::after {
    content: '';
    display: inline-block;
    margin-left: 13px;
    width: 7px;
    height: 13px;
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;

}
.goods .bd li {
    position: relative;
    float: left;
    margin-right: 8px;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    text-align: center;
}
.goods .bd li:nth-child(4n) {
    margin-right: 0;
}
.goods .bd li img {
    width: 304px;
}
.goods .bd li h3 {
    margin-top: 22px;
    font-family: PingFangSC-Regular;
	font-size: 20px;
	font-weight: normal;
	color: #333333;
}
.goods .bd li div,
.fresh .bd li div {
    margin-top: 8px;
    font-family: PingFangSC-Regular;
	font-size: 17px;
	font-weight: normal;
	color: #9a2e1f;
}
.goods .bd li div span,
.fresh .bd li div span {
    font-size: 23px;
}
.goods .bd li b {
    position: absolute;
    top: 18px;
    left: 17px;
    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
	font-size: 18px;
	font-weight: normal;
	color: #27ba9b;
    line-height: 24px;

}
.fresh .hd{
    height: 96px;
    /* background-color: pink; */
    line-height: 96px;
}
.fresh h2 {
    float: left;
    font-family: PingFangSC-Regular;
	font-size: 29px;
	font-weight: normal;
	color: #333333;
}

.fresh .hd ul {
    float: right;
}
.fresh .hd li {
    float: left;
}
.fresh .hd li a {
    padding: 0 7px;
    margin-right: 6px;
}
.fresh .hd li:last-child a {
    margin-right: 65px;
}
.fresh .hd li a:hover {
    background-color: #27ba9b;
    color: #fff;
}
.fresh .bd .left {
    float: left;
    
}
.fresh .bd .right {
    float: left;
    margin-left: 36px;
    width: 964px;
}
.fresh .bd .right li {
    float: left;
    margin-right: 64px;
    margin-bottom: 24px;
    width: 184px;
	height: 292px;
    /* background-color: pink; */
}

.fresh .bd .right li:nth-child(4n) {
    margin-right: 0;
}
.fresh .bd .right li img {
    width: 184px;
    height: 184px;
}
.fresh .bd .right h3 {
    font-size: 16px;
    font-weight: normal;
}